h2{
    color: orange;
}
p{
    background-color: black;
    color: white;
}
button{
    color: white;
    background-color: blue;
}

h3{
    color: #fff;
}

h4{
    color: rgb(255, 255, 0);
    color: #ff0;
}

h5{
    color: #00ddff;
}

h1{
    font-family: league spartan;
    color: #ffa511;
    text-align: center;
    font-size: 55px;
    font-weight: 900;
    letter-spacing: 2px;
    line-height: 1.5;
    text-decoration: teal double underline;
    text-transform: uppercase;
}

