@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');

body{
    text-align: center;
}

.btn{
    height: 200px;
    width: 200px;
    border-radius: 20%;
    border: 4px solid black;
    margin: 2rem;
}

.btn-container{
    display: flex;
    justify-content: center;
}

.red{
    background-color:#d95980;
}

.yellow{
    background-color: #f99b45;
}

.green{
    background-color: #63aac0;
}

.purple{
    background-color: #819ff9;
}

.score{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: bisque;
    padding: 80px;
    width: 70%;
    border-radius: 18px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.532);
    text-align: center;
}

.score h1{
    font-size: 48px;
    font-weight: 800;
}

.score h2{
    font-size: 38px;
}

.score h4{
    font-size: 30px;
}

.score p{
    font-size: 20px;
    font-weight: 700;
    font-style: italic;
}

.scoredisplay{
    display: none;
}

.flash{
    background-color: white;
}

.userflash{
    background-color: green;
}

.overlay{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 100%;
    background: linear-gradient(rgba(255, 0, 0, 0.76), rgba(255, 0, 0, 0.621));
}

.overlaydisplay{
    display: none;
}

.h3size{
    font-size: 90px;
}