div{
    height: 100px;
    width: 100px;
    background-color: rgb(77, 255, 0);
    margin: 0 auto;
    margin-top: 10px;
    transition: margin-top 2s ease 0.2s;
}

div:active{
    background-color: aqua;
    margin-top: 500px;
}